<svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">

  <rect x="0" y="0" width="100" height="100" style="fill: #{{background}};"/>
  
  {{#circlefit}}
  <g transform="translate(14.1421,14.1421),scale(0.7071)">
  {{/circlefit}}
    <rect id="border" width="95.833" height="95.833" x="2.0835" y="2.0835" style="fill: #{{secondary}}; stroke: #{{primary}}; stroke-width: 4.167;"/>

    <text style="font-size:61.10477448px; font-family: Ubuntu; font-weight: 600; fill:#{{primary}}; text-align: center; text-anchor: middle;" id="text4659" transform="scale(1.0,1.0825649)">
      <tspan id="tspan4657" x="50" y="66">{{text}}</tspan>
    </text>
  {{#circlefit}}
  </g>
  {{/circlefit}}
  
  <!--<circle cx="50" cy="50" r="50" style="stroke: #000000; fill:none;" />-->
</svg>
